<app-navbar />
<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!products || !products.length"
  resetLinkText="Reset Search"
></app-not-found>
<div class="container-xl">
  <div class="row">
    <div class="col-md-12">
      <h2>Featured <b>Products</b></h2>
      <div
        id="myCarousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="0"
      >
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="row mt-4">
              <div class="col-sm-3 mb-4" *ngFor="let product of products">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img
                      src="{{ product.imageUrl }}"
                      class="img-fluid"
                      alt="{{ product.productName }}"
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>{{ product.productName }}</h4>
                    <div class="star-rating">
                      <ngb-rating [max]="5" [(rate)]="product.stars" [readonly]="true"></ngb-rating><br>
                    </div>
                    <p class="item-price">
                      <s>₹{{ product.price + 100 }}</s>&nbsp;&nbsp;<b>₹{{ product.price }}</b>
                    </p>
                    <button
                      routerLink="/product/{{ product._id }}"
                      class="btn btn-outline-dark"
                    >
                      Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#81B29A" fill-opacity="0.7"
      d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
  </path>
</svg>
  <!-- <div  class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div *ngFor="let product of products" class="card w-100 my-2 shadow-2-strong d-flex">
              <img src={{product.imageUrl}} class="card-img-top" alt="{{product.productName}}" />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">$120.00</h5>
  l              <p class="card-text">{{ product.brandName }}</p>
                <p class="card-text">{{ product.productName}}</p>
                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a routerLink="/product/{{product._id}}" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                  <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
                </div>
              </div>
            </div>l
          </div>
      </div> -->
