/* Style for the offcanvas container */
.offcanvas {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Style for the offcanvas header */
  .offcanvas-header {
    background-color: #3D405B;
    color: #fff;
    border-bottom: 1px solid #dee2e6;
  }
  
  /* Style for the close button in the header */
  .offcanvas-header .btn-close {
    color: #fff;
  }
  
  /* Style for the offcanvas body */
  .offcanvas-body {
    padding: 20px;
  }
  
  /* Style for form labels in the offcanvas body */
  .offcanvas-body label {
    font-weight: bold;
    color: #3D405B;
  }
  
  /* Style for form inputs in the offcanvas body */
  .offcanvas-body input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for form checkbox in the offcanvas body */
  .offcanvas-body .form-check-input {
    margin-right: 5px;
  }
  
  /* Style for the buttons in the offcanvas body */
  .offcanvas-body button {
    background-color: #3D405B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .offcanvas-body button:hover {
    background-color: #1A202C;
  }
  
  /* Style for the alert message */
  .offcanvas-body .alert {
    margin-top: 10px;
  }
  
  /* Style for the SVG wave at the bottom */
  svg {
    display: block;
    margin-top: -1px; /* Adjust to match your design */
  }
  