<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Your Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Membership</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >About Us</a>
      </li>
    </ul>
  </div>
  
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" >Login</a>
    <a class="nav-item nav-link" >Signup</a>
  </div>
</nav>
<app-add-product/>