
<h4>Order History</h4>
<div class="table-responsive overflow-auto">
<table class="table mt-5 mb-5">
    <thead class="thead-dark">
      <tr class="table-secondary">
    
        <th scope="col">Order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Shipped To</th>
        <th scope="col">City</th>
        <th scope="col">Products</th>
        <th scope="col">Promocode</th>
        <th scope="col">Total</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
       
        <td>{{order._id}}</td>
        <td>{{order.date}}</td>
        <td>{{order.address[0].firstName+" "+order.address[0].lastName}}</td>
        <td>{{order.address[0].city}}</td>
        <td><tr *ngFor = "let product of order.products">{{product.productName}}</tr></td>
        <td>{{order.promocode}}</td>
        <td><b>₹{{order.orderValue}}</b></td>
      </tr>
    </tbody>
</table>
</div>