<app-navbar></app-navbar>
<div class="container mt-4 border-1px black">
    <div class="row">
      <!-- First Column (col-3) -->
      <div class="col-3">
        <ul class="list-group list-group-item-action active">
          <li class="list-group-item" routerLink="addProduct">Add Product</li>
          <li class="list-group-item" routerLink="allProducts">Products</li>
          <li class="list-group-item">Customers</li>
          <li class="list-group-item">Orders</li>
          <li class="list-group-item">Memberships</li>
        </ul>
        
      </div>
  
      <!-- Second Column (col-9) -->
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<app-footer></app-footer>