<section class="about-section section-padding" id="about_us">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">About Power Pulse</h2>
            </div>

            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">
                <h3 class="mb-3">Power Pulse Club History</h3>
                <p><strong>Welcome to Power Pulse</strong> – your ultimate fitness companion! Our platform offers
                    tailored workout plans and expert guidance to help you achieve your fitness goals. Join our
                    supportive community today and start your journey towards a healthier, stronger you.
                </p>
                <p>With Power Pulse, reaching your fitness milestones has never been easier. Say goodbye to generic
                    workouts and hello to personalized routines designed just for you. Join us now and discover the
                    power of community-driven fitness!
                </p>

            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="../../../assets/img/members/trainer-1.png" class="member-block-image img-fluid"
                            alt="">

                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="https://www.instagram.com/fitnesstalks_with_pranit/"
                                    class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://wa.link/463aai" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="member-block-info d-flex align-items-center">
                        <h4>Pranit Shilimkar</h4>

                        <p class="ms-auto">Founder</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="../../../assets/img/members/trainer-2.png" class="member-block-image img-fluid"
                            alt="">

                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="https://www.instagram.com/subtle.strength/"
                                    class="social-icon-link bi-instagram"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://wa.link/463aai" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="member-block-info d-flex align-items-center">
                        <h4>Kunal Rajput</h4>

                        <p class="ms-auto">Co-Founder</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section-bg-image">
    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0">
        </path>
        <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z"
            stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z"
            stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z"
            stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z"
            stroke-width="0"></path>
    </svg>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="section-bg-image-block">
                    <h2 class="mb-lg-3">Get our newsletter</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et
                        dolore.</p>

                    <form (ngSubmit)="subscribe()" class="custom-form mt-lg-4 mt-2" role="form" #subscribeForm="ngForm">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-envelope" id="basic-addon1"></span>
                            <!-- <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                placeholder="Email address" [required]="true" [(ngModel)]="email" #emailInput="ngModel"
                                email>

                            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                                class="invalid-feedback">
                                <div *ngIf="emailInput.errors?.['required']">Email is required</div>
                                <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address</div>
                            </div> -->
                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                placeholder="Email address" [required]="true" [(ngModel)]="email" #emailInput="ngModel"
                                email>

                            <!-- Error messages -->
                            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                                class="invalid-feedback">
                                <div *ngIf="emailInput.errors?.['required']">Email is required</div>
                                <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address</div>
                            </div>


                            <!-- <input type="text" id="ds" [(ngModel)]="email" class="form-control" name="emailid"
                                #emailRef="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                                [ngClass]="{ 'is-invalid': emailRef.invalid && (emailRef.dirty || emailRef.touched) }"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>


                            <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)"
                                class="invalid-feedback">
                                <div *ngIf="emailRef.errors?.['required']">Email is required.</div>
                                <div *ngIf="emailRef.errors?.['pattern']">Invalid email format.</div>
                            </div> -->
                            <button type="submit" class="form-control"
                                [disabled]="!subscribeForm.form.valid">Subscribe</button>
                        </div>
                    </form>



                </div>
            </div>

        </div>
    </div>

    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0">
        </path>
        <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z"
            stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z"
            stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z"
            stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z"
            stroke-width="0"></path>
    </svg>
</section>