<div class="table-responsive" style="max-width: auto; max-height: auto; overflow: auto;">
    <table class="table mt-4 table-bordered">
        <thead class="thead-dark">
            <tr class="table-secondary">
                <th scope="col">UserId</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Membership</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <ng-container *ngIf="user.roles && user.roles.includes('65e76a6d1e2e982ff27e6c60')">
                    <!-- Display user roles -->
                    <th scope="row">{{user._id}}</th>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.phonenumber}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <span *ngIf="user.membership===''">Not Taken</span>
                    </td>
                    <td>
                        <span *ngIf="user.roles.includes('65e76a6d1e2e982ff27e6c61')">Admin</span>
                        <span *ngIf="!user.roles.includes('65e76a6d1e2e982ff27e6c61')">User</span>
                    </td>
                    <td>
                        <i class="fa fa-trash" aria-hidden="true" (click)="delete(user)"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-edit" aria-hidden="true" (click)="openEditModal(user)"></i>
                    </td>
                </ng-container>

            </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap Modal for Editing -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Membership</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeEditModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input id="firstname" formControlName="firstname" class=" form-control" />
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input id="lastName" formControlName="lastname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="username">User Name</label>
                <input id="username" formControlName="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" formControlName="age" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phonenumber">User Phone Number</label>
                <input type="number" id="phonenumber" formControlName="phonenumber" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">User Email</label>
                <input id="email" formControlName="email" class="form-control" />
            </div>


            <div class="form-group">
                <label for="roles">Rating:</label>
                <select id="roles" formControlName="roles" class="form-control">
                    <option value="65e76a6d1e2e982ff27e6c61">Admin</option>
                    <option value="65e76a6d1e2e982ff27e6c60">User</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Update User</button>
        </form>
    </div>
</ng-template>