<app-navbar />

<div class="container-xl" id="abc">
  <div class="card mt-5 mb-5">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><strong>Checkout</strong></h4>
            </div>
            <div class="col align-self-right text-right text-muted">
              {{ checkout.totalCount }} items
            </div>
          </div>
        </div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="container">
              <h6>Shipping Address</h6>
              <form [formGroup]="checkoutForm" (submit)="onSubmit()">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter your first name">
                      <div *ngIf="checkoutForm.get('firstName')?.errors?.['required']"></div>
                      <div *ngIf="checkoutForm.get('firstName')?.errors?.['minlength']" class="warning">First Name must be at least 3 characters<br></div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter your last name">
                      <div *ngIf="checkoutForm.get('lastName')?.errors?.['required']"></div>
                      <div *ngIf="checkoutForm.get('lastName')?.errors?.['minlength']" class="warning">Last Name must be at least 3 characters</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="street">Street/Area/Colony</label>
                      <input type="text" class="form-control" id="street" formControlName="street" placeholder="Enter your street/area/colony">
                      <div *ngIf="checkoutForm.get('street')?.errors?.['required']" class="warning"></div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="landmark">Landmark</label>
                      <input type="text" class="form-control" id="landmark" formControlName="landmark" placeholder="(optional)">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" formControlName="city" placeholder="Enter your city">
                      <div *ngIf="checkoutForm.get('city')?.errors?.['required']" ></div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="pincode">Pincode</label>
                      <input type="text" class="form-control" id="pincode" formControlName="pincode" placeholder="Enter a pincode">
                      <div *ngIf="checkoutForm.get('pincode')?.errors?.['required']"></div>
                      <div *ngIf="checkoutForm.get('pincode')?.errors?.['maxlength']" class="warning">Pincode must be 6 characters long</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state" formControlName="state" placeholder="Enter your state">
                  <div *ngIf="checkoutForm.get('state')?.errors?.['required']" ></div>
                </div>
                <div class="form-group">
                  <label for="mobileNumber">Mobile Number</label>
                  <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber" placeholder="Enter your mobile number">
                  <div *ngIf="checkoutForm.get('mobileNumber')?.errors?.['required']"></div>
                  <div *ngIf="checkoutForm.get('mobileNumber')?.errors?.['pattern']"class="warning">Invalid mobile number format<br></div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="checkoutForm.invalid">PROCEED TO PAY</button>
                <br>
            </form>
            </div>
          </div>
        </div>

        <div class="back-to-shop">
          <a routerLink="cart-page">&leftarrow;</a
          ><span class="text-muted">Back to cart</span>
        </div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Order Summary</b></h5>
          <hr>
          <div class="row">
            <div class="col-8" style="padding-left: 0">
              ITEMS {{ checkout.totalCount }}
            </div>
            <div class="col text-right">&nbsp;₹{{ checkout.totalPrice }}</div>
          </div>
          <div class="row">
            <div class="col-8" style="padding-left: 0">
              Discount
            </div>
            <div class="col text-right">-₹{{ checkout.promoDiscount }}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-8" style="padding-left: 0">
              <b>Amount Payable</b>
            </div>
            <div class="col text-right"><b>₹{{ checkout.totalPrice - checkout.promoDiscount }}</b></div>
          </div>
          <hr>
          <h6>items</h6>
          <div *ngFor="let cartItem of checkout.items" class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-2">
                <img class="img-fluid" [src]="cartItem.product.imageUrl" />
              </div>
              <div class="col">
                <div class="row text-muted">{{ cartItem.product.productName }}</div>
                <div class="row">{{ cartItem.product.brandName }}</div>
              </div>
              <div class="col">
                ₹ {{ cartItem.price }} &nbsp;&nbsp;&nbsp;&nbsp;
              </div>
                <!-- Your form controls -->
              
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
